<div>
  <div class="container">
    <form action="/" method="get">
      <select class="form-select" name="day_of_week" aria-label="Default select example">
        <% for (i in heading) {%>
          <% if (select_value==i) {%>
            <option value=<%=i %> selected><%=heading[i] %>
            </option>
            <%} else { %>
              <option value=<%=i %> ><%=heading[i] %>
              </option>
              <%} %>
                <%}%>
      </select>
      <button type="submit" class="btn btn-secondary mb-3">Go</button>
    </form>
  </div>


  <form action="/task/update" method="post">
    <div class="container">
      <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col"></th>
          <th scope="col">Name</th>
          <th scope="col">Comment</th>
          <th scope="col">Status</th>
          <th scope="col">Time</th>
          <th scope="col">Streak</th>
        </tr>
      </thead>
      <% for (var i=0; i < posts.length; i++) {%>


        <tbody>
          <tr>
            <th scope="row"><input class="form-check-input" type="checkbox" value="Done" id="flexCheckDefault" name=<%- posts[i]._id %>></th>

            <td>
              <%= posts[i].name %>
            </td>
            <td>
              <%= posts[i].comment %>
            </td>
            <td>
              <%= posts[i].status %>
            </td>
            <td>
              <%= posts[i].time %>
            </td>
            <td>
              <%= streaks[posts[i].name].success %>
                / <%=streaks[posts[i].name].total_task %>
            </td>
          </tr>

        </tbody>
        
        <%} %>
      </table>
    </div>
</div>
<div class="container">
  <div class="col-auto">
    <button type="submit" class="btn btn-warning mb-3" name="mark_done">Mark as done</button>
    <button type="submit" class="btn btn-warning mb-3" name="mark_not_done">Mark as not done</button>
    <button type="submit" class="btn btn-warning mb-3" name="none">Mark as none</button>
  </div>

</div>



</form>
</div>