<div>
  <form action="/" method="get">
    <div class="container">
      <form action="">
        <select class="form-select" name="day_of_week"  aria-label="Default select example">
          <% for (i in heading) {%>
            <% if (select_value ==i) {%>
              <option  value=<%= i %>  selected><%=heading[i] %></option>
            <%} else { %>
              <option  value=<%= i %>  ><%=heading[i] %></option>
            <%} %>
          <%}%>
      </select>
      <button type="submit" class="btn btn-warning mb-3" >Go</button>
      </form>


    </div>
    <% for (var i=0; i < posts.length; i++) {%>
      <div class="container text-center">
        <div class="row alert alert-info">
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="Done" id="flexCheckDefault" name=<%- posts[i]._id %>>

          </div>
          <div class="col" name="name">
            <%= posts[i].name %>
              <br>
              <small style="font-size: smaller;color: red;">task</small>
          </div>

          <div class="col">
            <%= posts[i].status %>
              <br>
              <small style="font-size: smaller;color: red;">status</small>
          </div>
          <div class="col">
            <%= posts[i].time %>
              <br>
              <small style="font-size: smaller;color: red;">task</small>
          </div>
        </div>

      </div>

      <%} %>
        </ul>
        <div class="col-auto">
          <button type="submit" class="btn btn-warning mb-3" name="mark_done">Mark as done</button>
          <button type="submit" class="btn btn-warning mb-3" name="mark_not_done">Mark as not done</button>
        </div>

        <div class="col-auto">

        </div>

</div>

</form>
</div>